{% extends "helpdesk/base.html" %}
{% load staticfiles %}
{% block extrahead %}
{% endblock %}
{% block title %}Try Snorky! Welcome{% endblock %}
{% block header_title %}Welcome{% endblock %}
{% block content %}
  <img src="{% static "helpdesk/images/logo.png" %}" alt="">
  <p>This is a demonstration of how <a href="http://snorkyproject.org/">Snorky</a>, <a href="https://www.djangoproject.com/">Django</a> and <a href="https://angularjs.org/">AngularJS</a> enable developers to easily build real time web applications. It shows a simple user assistance tool, where clients can login with their email and open issues. You can also login as an administrator, view the list of issues and reply to them.</p>

  <p>All the views are synchronized to the database with Snorky. You don't need to refresh the page when a new issue is created or replied.</p>

  <p>Open two browsers, log in as client in one and as admin in other and see how data is automatically shown with almost no delay.</p>

  <p>You can view the source code of this application at GitHub: <a href="https://github.com/ntrrgc/helpdesk">https://github.com/ntrrgc/helpdesk</a></p>

  <p><b>Hint:</b> As an alternative to using two different browsers, you can open this application from a different domain: <a href="{{ other_domain }}">{{ other_domain }}</a></p>


  <h2>Demo login (client)</h2>
  <p>You can use a fake address.</p>
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form }}
    </table>
    <input type="hidden" name="admin" value="False">
    <div>
      <button type="submit">Log in as client</button>
    </div>
  </form>

  <h2>Demo login (admin)</h2>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="admin" value="True">
    <button type="submit">Log in as admin</button>
  </form>
{% endblock %}
