{% extends "helpdesk/base.html" %}
<p></p>
{% block extrahead %}
{% endblock %}
{% block title %}Welcome{% endblock %}
{% block header_title %}Welcome{% endblock %}
{% block content %}
  <p>You need to login in order to create issues.</p>
  <h2>Demo login (client)</h2>
  <form action="/login" method="POST">
    <label>
      Username:
      <input type="text" name="username">
    </label>
    <input type="hidden" name="type" value="client">
    <div>
      <button type="submit">Log in</button>
    </div>
  </form>

  <h2>Demo login (admin)</h2>
  <form action="/login" method="POST">
    <input type="hidden" name="type" value="admin">
    <button type="submit">Log in as admin</button>
  </form>
{% endblock %}
