{% extends "helpdesk/base.html" %}
<p></p>
{% block extrahead %}
{% endblock %}
{% block title %}Welcome{% endblock %}
{% block header_title %}Welcome{% endblock %}
{% block content %}
  <p>You need to login in order to create issues.</p>
  <h2>Demo login (client)</h2>
  <form action="" method="POST">
    {% csrf_token %}
    <table>
      {{ form }}
    </table>
    <input type="hidden" name="admin" value="False">
    <div>
      <button type="submit">Log in as client</button>
    </div>
  </form>

  <h2>Demo login (admin)</h2>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="admin" value="True">
    <button type="submit">Log in as admin</button>
  </form>
{% endblock %}
