backports.ssl-match-hostname==3.4.0.2
Django==1.6.2
django-browserid==0.9
djangorestframework==2.3.12
fancy-tag==0.2.0
funcsigs==0.4
gunicorn==18.0
python-dateutil==2.4.2
requests==2.2.1
simplejson==3.3.3
six==1.5.2
tornado<5.0
streql
snorky==0.1.0a3
